/* Estilos generales */
body {
    margin: 0;
    font-family: 'Times New Roman', sans-serif;
    min-width: 320px;
    background-color: #1a1a1a;
}

/* Estilos para el header */
header{
    z-index: 3;
}
header.a.h2{
    text-decoration: none !important;
}

.color-header{
    text-decoration: none;
    color: #FD8A32;
}
.proyecto_nombre{
    font-weight: 600;
}
header.my-header{
    top: 0;
    animation-timeline: scroll();
    animation-range: 0 100px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color:#003474;
    min-height: 70px;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0;
    }


    nav a{
        padding-right: 10px;
    }

    #imagen_boton{
        height: 220px;
    }
}

/* Estilos para la sección de bienvenida */
#bienvenida {
    margin-bottom: 90vh;
    width: 70%; /* o cualquier ancho que desees */
    height: 10%;
    margin: auto;
    font-size: 2v;
}

.bienvenidaYboton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    width: 50%; /* o cualquier ancho que desees */
    margin: auto; /* centra el contenedor horizontalmente */
}

#text-bienvenida {
    background-color: #808080;
    border-radius: 5px;
    width: 100%;
    font-weight: 600;
}

/* Estilos para la sección de la imagen del juego */
.divImagenJuego {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImagenJuego img {
    max-width: 90%; /* Esto limitará el tamaño de la imagen al 50% del contenedor */
    max-height: 90%;
    object-fit: contain; /* Esto asegura que la imagen se redimensione correctamente */
    border-radius: 10px;
}

/* Estilos para la sección inicial */
#seccionInicial {
    background-color: #292929;
    padding: 20px;
}

/* Estilos para el primer contenedor */
#PrimerContenedor {
    margin-top: 2.5%; /* Cambia a porcentaje */
    height: auto; /* Cambia a auto para permitir que el contenido defina la altura */
    margin-bottom: 2.5%; /* Cambia a porcentaje */
    display: flex;
    flex-direction: row; /* Por defecto, los elementos se mostrarán en una fila */
    align-items: start;
}

@media (max-width: 600px) {
    #PrimerContenedor {
        flex-direction: column; /* En pantallas pequeñas, los elementos se mostrarán en una columna */
    }

    .descripcion {
        justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    }

    .divImagenJuego {
        margin-top: 20px; /* Añade un margen superior para separar los elementos */
    }
}

/* Estilos para la descripción y el título */
.descripcion, .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Ubuntu';
    font-size: 2vw; /* Cambia el tamaño de la fuente en función del ancho de la ventana del navegador */
}

.descripcion {
    color: #333333;
    font-size: 1.5vw;
}

.titulo {
    font-family: 'Ubuntu';
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: left;
    font-weight: 600;
    color:  #333333;
    font-size: 2.5vw;
}


/* Estilos para el click */
.click {
    color: #FD8A32; /* Color del texto */
    font-family: "Micro 5" ; /* Fuente del texto */
    font-size: 40px; /* Tamaño del texto */
    animation: fadeIn 7s forwards; /* Animación de aparición */
    margin-top: 0;
    margin-bottom: 0;
}

/* Estilos para la imagen del juego */
#imagen_juego img {
    max-width: 90%; /* Esto limitará el tamaño de la imagen al 90% del contenedor */
    max-height: 90%;
    object-fit: contain; /* Esto asegura que la imagen se redimensione correctamente */
}

#imagen_juego {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilos para el contenedor padre */
.contenedor-padre {
    position: relative;
}

.imagen-hijo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 100px; /* Permite que el ancho se ajuste proporcionalmente a su contenedor */
    height: 100px;
    transition: all 0.3s ease;
}

.contenedor-padre:hover .imagen-hijo {
    transform: translate(-50%, -50%) scale(0.8); /* Cambiar el valor de escala según lo desees */
}

/* Estilos para la sección de instrucciones */
#contMainInstrucc {
    /*background-color: #e8c7a8;*/
    margin: auto; /* Centra el div horizontalmente */
    padding: 40px 0;
    padding-top: 60px;
}

#contInfoInstrucc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background-color: white;
}

#contInfoInstrucc img {
    width: 80px;
}

#instrucciones-titulo {
    text-align: left;
    font-size: 2vw;
    font-weight: 600;
    color: hsl(30, 38%, 41%);
    padding-top: 0;
    margin-bottom: 60px;
    font-family: 'Ubuntu';
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    font-weight: 600;
}

#conteinerInstrDiv {
    align-items: center;
    margin: auto;
}

.container {
    position: relative;
}

.fade {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /*agregamos que los divs interiores se desplieguen en columna siempre*/
   

}

.fade img {
    width: 100%;
    display: block;
}

.fade::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; /* Ajusta este valor para cambiar dónde comienza el desvanecimiento */
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(15, 14, 22) 80%);
}

#huevo {
    color: rgb(176, 180, 222);
    font-size: 1vw;
    font-family: 'Outfit', sans-serif;
}

.instruccion-elemento {
    width: 13%;
    height: 45%;
   /* background-color: rgba(240, 248, 255, 0.136);*/
}


.instruccion-elemento img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

/* Estilos para la caja gris */
.gray-box {
    position: absolute;
    top: 5vh; /* Ajusta este valor para cambiar la distancia desde la parte superior */
    left: 5vw; /* Ajusta este valor para cambiar la distancia desde la izquierda */
    width: 21vw; /* Ajusta este valor para cambiar el ancho del div */
    height: 8%; /* Ajusta este valor para cambiar la altura del div */
    background-color: rgba(7, 3, 92, 0); /* Da al div un fondo gris */
    z-index: 2; /* Asegura que el div esté por encima de la imagen */
    border-color: rgb(135, 130, 24);
    border-width: 4px;
    border-style: solid;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-left: none;
    border-right: none;
    flex-direction: row; /* Alinea los elementos en una fila en pantallas grandes */
}



.text-inst{
    position: absolute;
    top: 1%; /* Ajusta este valor para cambiar la distancia desde la parte superior */
    left: 5vw; /* Ajusta este valor para cambiar la distancia desde la izquierda */
    width: 20vw; /* Ajusta este valor para cambiar el ancho del div */
    height: 35%; /* Ajusta este valor para cambiar la altura del div */
    background-color: rgba(7, 3, 92, 0); /* Da al div un fondo gris */
    z-index: 2; /* Asegura que el div esté por encima de la imagen */
    border-color: rgb(135, 130, 24);
    color: rgb(150, 150, 145);
    border-width: 0.5vw;
    border-style: solid;
    padding-left: 2vw;
    font-size: 1.1vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila en pantallas grandes */
    margin-top: 15%;
}

@media (max-width: 700px) {
    .gray-box {
        flex-direction: column; /* Alinea los elementos en una columna en pantallas pequeñas */
        top: 2vh;
        width: 10vw; /* Ajusta este valor para cambiar el ancho del div */
        height: 26vw;
        border-left: 0.4vh solid rgb(135, 130, 24);
        border-right: 0.4vh solid rgb(135, 130, 24);
        border-top: none;
        border-bottom: none;
    }
    .instruccion-elemento {
        width: 100%;
        height: 17%;
        background-color: rgba(240, 248, 255, 0.136);
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .text-inst{
        margin-top: 35%;
        font-size: 1.1vw;
        width: 25%; /* Ajusta este valor para cambiar el ancho del div */
        height: 30%;
    }

    .descripcion {
        color: #333333;
        font-size: 2vw;
        padding-right: 4vw;
        padding-left: 4vw;
    }

    .titulo{
        font-size: 2vw;
    
    }

    #bienvenida {
        width: 80vw;
    }

}



/*Sección de aprendizaje*/
.estilo-div-titulo{
    background-color: #808080;
    /*div con ancho igual al ancho del texto*/
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    font-weight: 600;
    color: white;
    font-size: 2vw;
    margin-bottom: 20px;
    /*div centrado al centro de la pagina*/
    text-align: center;
}

.AprendMainDiv{
    background-color: rgb(9, 74, 136);
    width: 100%;
    padding: 40px 0;
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 250px;
    height: 310px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
  }
  
  .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }
  
  .card .front img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 40px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
  }
  
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  
  .card .back p {
    letter-spacing: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  } 
  
  .card:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .card:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }

.secTit{
    font-family: 'Ubuntu';
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: left;
    font-weight: 600;
    color:  #b0abab;
    font-size: 2.5vw;
}

#seccionAprendizaje{
    margin-top: 20px;
}


